* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rebeccapurple;
    color: white;
}

.rojo {
    color: red;
}

.verde {
    color: teal;
}